/* Write your code here. */
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.container {
  margin-left: 30px;
}
.img {
  width: 850px;
}
@media screen and (max-width: 767px) {
  .container {
    width: 70%;
  }
  .img {
    width: 250px;
  }
  .list-container {
    flex-wrap: wrap;
  }
}
